body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.6rem;
  border-radius: 0.7rem;
  height: 60vh;
  text-align: center;
}

.logo {
  font-size: 3vw;
  margin-bottom: 0.625rem;
}

.logo-box {
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: 1.5rem;
}

p {
  margin: 1.25rem 1rem;
  font-size: 1.25vw;
}

/* Form element styling */
form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  margin: 0 1rem;
}

input[type="email"],
input[type="password"] {
  padding: 0.625rem;
  margin: 1rem 1rem;
  border-radius: 0.4rem;
}

/* Button styling */
button[type="submit"] {
  margin: 1vh 2vw;
  padding: 1rem;
  background-color: orange;
  color: white;
  border-radius: 0.325rem;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: darkorange;
}
