body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-image: url("/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.6rem;
  border-radius: 0.325rem;
  width: 30%;
  height: 40%;
  text-align: center;
  box-shadow: 0 0 0.325rem rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 3vw;
  margin-bottom: 0.625rem;
}
.logo-box {
  background: rgba(255, 255, 255, 0.8);
  margin-bottom: 1.5rem;
}

h2 {
  margin-bottom: 0.325rem;
  font-size: 2vw;
}

p {
  margin: 1.25rem 1rem;
  font-size: 1.25vw;
}

/* Form element styling */
form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  margin: 0 1rem;
  font-size: 1.5vw;
}

input[type="email"] {
  padding: 0.325rem;
  margin: 1rem 1rem;
  border: 0.0625 solid #ccc;
  border-radius: 0.4rem;
  font-size: 1.2vw;
}

/* Button styling */
.reset-button {
  margin: 2rem 1rem;
  padding: 1rem;
  background-color: orange;
  border: none;
  color: white;
  font-size: 1.25vw;
  border-radius: 0.325rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-button:hover {
  background-color: darkorange;
}
